@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* MEU BACKGROUND PERSONALIZADO */
.logo-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/jaguar.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain; 
  opacity: 0.2;
  z-index: 0;
  pointer-events: none;
}

/* PARA FULL SCREEN DESCONSIDERAR BARRA DO NAVEGADOR */

/* globals.css ou app.css */
html, body {
  height: 100vh;
  height: 100dvh; /* Dynamic Viewport Height - considera barra de endereços */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Fallback para navegadores que não suportam dvh */
@supports not (height: 100dvh) {
  html, body {
    height: 100vh;
  }
}
